<% if is_fan? %>
  <div class="lang-container" id="cs"><%= image_tag 'zalozka2.jpg', :usemap => '#csmap' %></div>
  <map name="csmap">
    <area shape="rect" alt="" title="" coords="207,522,240,536" href="http://bit.ly/wrr774" target="_blank" />
  </map>
  <div class="lang-container" id="sk"><%= image_tag 'zalozka2-sk.jpg', :usemap => '#skmap' %></div>
  <map name="skmap">
    <area shape="rect" alt="" title="" coords="224,522,247,535" href="http://bit.ly/yrOH30" target="_blank" />
  </map>
<% else %>
  <div class="lang-container" id="cs"><%= image_tag 'zalozka1.jpg' %></div>
  <div class="lang-container" id="sk"><%= image_tag 'zalozka1-sk.jpg' %></div>
<% end %>
